<div class="row-fluid">
	<div class="span2">
		<p class="side-text">
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin nibh arcu, egestas ut tincidunt sed, laoreet rutrum justo. Pellentesque ornare, est vel pharetra tincidunt, massa diam mattis justo, id ultrices diam justo in sem. Etiam eget risus lorem.
		</p>
	</div>
	<div class="span10 content-container">
		<h2>About Core 3 Stuff</h2>
		<p>
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin nibh arcu, egestas ut tincidunt sed, laoreet rutrum justo. Pellentesque ornare, est vel pharetra tincidunt, massa diam mattis justo, id ultrices diam justo in sem. Etiam eget risus lorem. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Aliquam erat volutpat. Vivamus eu ligula nibh, eget lacinia felis. Sed vitae orci sed enim commodo vulputate in in tortor.
		</p>
		<p>
			Etiam fermentum commodo massa, eget tempor urna hendrerit nec. Cras id venenatis leo. In bibendum dui orci, sed pulvinar quam. In orci libero, interdum a consequat et, convallis quis ligula. Aenean eu metus non elit molestie porttitor. Mauris tempus vehicula condimentum. Suspendisse sem sapien, luctus quis convallis at, dapibus sit amet tortor. Nullam commodo, leo vitae facilisis luctus, enim elit ultrices mauris, et luctus odio tellus id leo. Pellentesque ullamcorper molestie auctor. Nullam fringilla dolor ultricies sem tristique feugiat.
		</p>
	</div>
</div>